<div class='grid w-100 h-100'>
  <div class='head d-flex align-items-center justify-content-center'>
    <span class='h1'>Color tracker</span>
  </div>
  <div class='left'></div>
  <div class='right'></div>
  <div class='content'>
    <div class="calendar-container mx-auto">
      <ngx-simple-calendar>

        <ng-template let-date="number" let-active="today" let-weekend="weekend" #day>
          <app-tile [default]='0' date='{{date}}' [colorScale]='colorScale'></app-tile>
        </ng-template>

      </ngx-simple-calendar>
    </div>
    <!-- <table>
      <tr>
        <th></th>
        <th *ngFor='let el of days' scope="col">{{el}}</th>


      </tr>
      <tr>
        <th scope="row">1 </th>
        <td *ngFor='let el of days'>
          <app-tile [default]='0' [colorScale]='colorScale'></app-tile>
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td *ngFor='let el of days'>
          <app-tile [default]='0' [colorScale]='colorScale'></app-tile>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td *ngFor='let el of days'>
          <app-tile [default]='0' [colorScale]='colorScale'></app-tile>
      </tr>
    </table> -->

  </div>
  <div class='foot'></div>
</div>