::ng-deep .ngx-calendar__day-of-week {
  font-size: 1.2rem !important;
  color: black !important;
  text-align: center !important;
}
::ng-deep .ngx-calendar__title {
  font-size: 2rem !important;
  color: black !important;
}
::ng-deep .ngx-calendar__day {
  height: 5.5rem !important;
}
.cal-month-view .color0 {
  background-color: hotpink !important;
}
.cal-month-view .color1 {
  background-color: yellow !important;
}
.cal-month-view .color2 {
  background-color: green !important;
}
.cal-month-view .color3 {
  background-color: blue !important;
}


// mwl-calendar-month-cell:hover {
//   background-color: none !important;
// }
// mwl-calendar-month-cell {
//   background-color: none !important;

// }
// .cal-month-view:hover{
//   background-color: inherit;
// }


.grid {
  display: grid;
  grid-template-areas: "head head head " "left content  right" "foot foot foot";
  grid-template-rows: 10rem 40rem 1fr;
  grid-template-columns: 1fr 50rem 1fr;
}
.head {
  grid-area: head;
  background-color: #f3ede6;
}
.content {
  grid-area: content;
  background-color: #fffaf5;
}
.left {
  background-color: #f3ede6;
  grid-area: left;
}
.right {
  background-color: #f3ede6;
  grid-area: right;
}
.foot {
  background-color: #f3ede6;

  grid-area: foot;
}
th {
  width: 4rem;
}
td {
  height: 4rem;
}

.calendar-container {
  position: relative;
  width: 40rem;
  margin: 2rem;
}
