<div class="d-flex flex-nowrap align-items-center">
    <input
        *ngIf="index || legend"
        type="text"
        class="form-control mr-3  fixed-width-legend"
        [value]="legend"
        (blur)='onLegendUpdate($event)'
    />
    <input
        class="btn fat-border fat-border-black cursor-pointer fixed-width"
        [class.text-light]="textLight"
        [(colorPicker)]="color"
        [value]="color"
        (colorPickerClose)="onColorPicked($event)"
        [style.background]="color"
    />
    <div *ngIf="index > 1" class="btn" (click)="handleDelete()">x</div>
</div>
