/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{
  background-color: #f3ede6;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}
* {
  font-family: 'Press Start 2P', cursive;
}
.cursor-pointer{
  cursor: pointer;
} 



.days{
  width: 4vw;
  height: 4vw;
  text-align: center;
  line-height:  4vw;
  margin-bottom: -2px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.month{
  margin-right: -2px;
}
.days-height{
  height: 4vw;
  line-height:  4vw ;
}

.fat-border{
  border: 2px solid rgb(0, 0, 0);
}
.fixed-width{
  width: 18vw;
}
.grid {
  display: grid;
  grid-template-areas: "head head head " "left content  right" "foot foot foot";
}
.head {
  grid-area: head;
}
.content {
  grid-area: content;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
.foot {
  grid-area: foot;
}
