/* You can add global styles to this file, and also import other style files */
@import '../node_modules/angular-calendar/css/angular-calendar.css';

body {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    width: 100%;
    height: 100%;

    cursor: url(assets/images/default48.ico) 8 0, default;
}
* {
    font-family: 'Press Start 2P', cursive;
}
.btn {
    border-radius: 0px;
    &:hover.fat-border-black {
        transition: none;
        background-color: inherit;
        color: inherit;
        border-color: inherit;
        outline: 2px solid black;
    }
}
.grid {
    height: fit-content;
}

.cursor-pointer {
    cursor: url(assets/images/cursor48.ico) 15 0, pointer;
}

input[type='text'] {
    cursor: url(assets/images/edition32.ico) 5 15, text;
    border-radius: 0;
    border: 2px dotted black;
}
.grid-2x2 {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
}

.days {
    width: 4vw;
    height: 4vw;
    text-align: center;
    line-height: 4vw;
    margin-bottom: -2px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.daysNames {
    height: 4vw;
    text-align: right;
    line-height: 4vw;
    margin-bottom: -2px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.month {
    margin-right: -2px;
}
.days-height {
    height: 4vw;
    line-height: 4vw;
}

.fat-border {
    border-width: 2px;
    border-style: solid;
}
.fat-border-black {
    border-color: black;
}
.underlined {
    border-bottom: 2px solid;
}
.fixed-width-small {
    max-width: fit-content;
}
.fixed-width {
    width: 18vw;
}
.fixed-width-legend {
    width: 10vw;
}
.fixed-width-edition {
    width: 25vw;
}
.form-control:focus {
    outline: none;
    border-color: unset;
    box-shadow: unset;
    border: 2px solid black;
}

.grid-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: 'left middle right';
    gap: 3rem;
}
.foot {
    justify-content: flex-end;
}
.fit-content {
    width: fit-content;
}
.middle {
    grid-area: middle;
}
.head {
    grid-area: head;
}
.content {
    grid-area: content;
}
.left {
    grid-area: left;
}
.right {
    grid-area: right;
}
.foot {
    grid-area: foot;
}
.nav {
    justify-content: center;
}
.days-numbers {
    width: 4vw;
    height: 4vw;
    text-align: center;
    line-height: 4vw;
    margin-bottom: -2px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: -2px;
}

@media (max-width: 800px) {
    * {
        font-size: small;
    }
    .grid {
        padding: 0.5rem;
    }
    .days-height {
        height: 7vw;
        line-height: 7vw;
    }
    .grid-content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'middle' 'right';
        gap: 0;
    }

    .days {
        width: 7vw;
        height: 7vw;
    }
    .days-numbers {
        width: 12vw;
        height: 7vw;
        line-height: 7vw;
    }
    .fixed-width,
    .fixed-width-legend,
    .fixed-width-edition {
        width: 90vw;
    }
    .hidden {
        opacity: 0;
    }
    .foot {
        justify-content: space-evenly;
    }
}
